.container {
  font-family: 'Trebuchet MS', sans-serif;
  display: flex;
  gap: 30px;
}
.column {
  flex-basis: 20%;
  background: #ddd;
  min-height: 90vh;
  padding: 20px;
  border-radius: 10px;
}
.column h1 {
  text-align: center;
  font-size: 22px;
}
.item {
  background: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
  cursor: pointer;
  list-style: none;
}

.item:hover {
  background: black;
  color: white;
  transition: all 0.3s ease-in-out;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-input {
  border: 1px solid black;
  border-radius: 8px;
  height: 24px;
  min-width: 120px;
  padding: 0px 12px;
}

.add-button {
  width: 44px;
  height: 28px;
  text-align: center;
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
}

.add-button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  transition: all 0.3s ease-in-out;
}
